/* Body width management */
body {
  width: min(800px, 90%);
  margin: 0 auto;
}

/* Background color at 640px+ */
@media (min-width: 640px) {
  body {
    background-color: #eaf6ff;
  }
}

@media (max-width: 499px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 641px) {
  h1 {
    font-size: 2.5rem;
  }
}

#fixed-size-grid-items ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

#fixed-size-grid-items li {
  list-style: none;
}

#fixed-size-grid-items aside {
  width: 170px;
  margin: 10px;
  font-size: 0.8rem;
}

#stretchable-grid-items ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -10px;
}

#stretchable-grid-items li {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}

#stretchable-grid-items aside {
  margin: 10px;
}

@media (min-width: 481px) {
  #stretchable-grid-items li {
    width: 50%;
  }
}

@media (min-width: 641px) {
  #stretchable-grid-items li {
    width: 25%;
  }
}
