* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  font-size: 80px;
  margin-bottom: 8px;
}

h2 {
  font-size: 40px;
  margin-bottom: 36px;
  text-align: center;
}

h4 {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 600;
}

p {
  margin-bottom: 16px;
}

header {
  background-image: url("https://picsum.photos/id/327/1920/1080");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 170px 0 184px;
  color: white;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

header .column {
  position: relative;
  z-index: 1;
}

.subheading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

.column {
  width: 960px;
  margin: auto;
}

section {
  padding: 48px 0 40px;
}

.dark-bg {
  background-color: #473333;
  color: #ffffff;
}

.top-image {
  float: right;
  border: 1px solid white;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 400px;
  height: 300px;
}

.white-bg {
  background-color: #ffffff;
  color: #1e272e;
}

section.photo-grid {
  padding-bottom: 56px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

li {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
}

li img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

li > div {
  padding-left: 12px;
  padding-right: 22px;
}

li p {
  color: #717171;
}

section.final-section {
  background-color: #005b79;
  color: white;
  padding: 54px 0 100px;
}

p.final-paragraph {
  font-size: 26px;
  text-align: center;
  margin: auto;
  width: 703px;
  line-height: 1.37;
}

footer {
  padding: 40px 0;
  background-color: #343434;
  color: white;
}

footer p {
  margin-bottom: 0;
  text-align: left;
}
